@font-face
    font-family: MuseoSans
    src: url("../fonts/museosans.woff2") format("woff2")

@font-face
    font-family: MuseoSansItalic
    src: url("../fonts/museosansitalic.woff2") format("woff2")

@font-face
    font-family: MuseoSansBold
    src: url("../fonts/museosansbold.woff2") format("woff2")

@font-face
    font-family: Museo
    src: url("../fonts/museo.woff2") format("woff2")

body
    color: $white
    background: $black

    font-family: MuseoSans
    font-size: $basefontsize
    line-height: $baselineheight

    -webkit-backface-visibility: hidden
    -moz-backface-visibility: hidden
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0

    +for-size(tablet-landscape-up)
      font-size: $basefontsize * 1.25

    +for-size(big-desktop-up)
      font-size: $basefontsize * 1.5

::selection
    background: $yellow

h2,h3,h4
    font-family: Museo
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1
    -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1
    font-weight: normal

h1
  font-family: Oswald
  font-size: $basefontsize * 2.5
  line-height: $basefontsize * 2.25
  text-transform: lowercase

h2
  font-size: 2.2rem
  line-height: 2rem

  +for-size(tablet-portrait-up)
    font-size: 3rem
    line-height: 2.5rem

  +for-size(tablet-landscape-up)
    font-size: 4.5rem
    line-height: 4rem

h3
  font-size: 1.4rem
  line-height: 1.2rem

a
  text-decoration: none

em
  font-family: MuseoSansItalic
  font-style: normal

strong
  font-family: MuseoSansBold
  font-weight: normal

blockquote
  border-left: 4px solid $yellow

  font-size: 1.5rem
  font-family: MuseoSansItalic

  &:before, &:after
    display: inline
    margin: 0 $spacing

    color: $yellow

    font-family: Museo
    font-size: 2rem

  &:before
    float: left

    content: "\201C"

  &:after
    content: "\201D"
