// colors
$red: rgb(192, 20, 124)
$blue: rgb(0, 170, 255)
$yellow: rgb(240,173,44)
$green: rgb(0, 255, 128)
$white: rgb(255, 252, 250)
$black: rgb(0,10,20)

// sizes
$spacing: 8px
$basefontsize: 16px
$baselineheight: $spacing * 3
$gutter-tablet: 140px
$gutter-desktop: 200px

// animation
$easing: cubic-bezier(.18,.89,.32,1.28)
