// colors
$red: rgb(192, 20, 124)
$blue: rgb(0, 170, 255)
$yellow: rgb(240,173,44)
$green: rgb(0, 255, 128)
$white: rgb(255, 252, 250)
$black: rgb(0,10,20)

// sizes
$spacing: 8px
$basefontsize: 20px
$baselineheight: $spacing * 4
$gutter: 200px

// animation
$easing: cubic-bezier(.77,0,.18,1)
