@import reset
@import mixins
@import variables
@import typography

@import components/header
@import components/feed

// basic stuff
body
  background: $white

.sqncbrk-outer
  display: grid
  grid-template-columns: $gutter 1fr 1fr $gutter
  width: 100%
