<header class="sqncbrk-header sqncbrk-outer">
  {% if page.url(true) == base_url_absolute %}
  	<span class="logo"><h1>{{ site.title }}</h1></span>
  {% else %}
  	<a href="/" class="logo"><h1>{{ site.title }}</h1></a>
  {% endif %}

  <button id="btn-search" class="button">
    <svg role="img" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24" aria-labelledby="searchIconTitle searchIconDesc" stroke="rgb(255,252,250)" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="rgb(255,252,250)"> <title id="searchIconTitle">Search</title> <desc id="searchIconDesc">Icon of a magnifying glass</desc> <path d="M14.4121122,14.4121122 L20,20"/> <circle cx="10" cy="10" r="6"/> </svg>
  </button>
</header>
{# {% for p in pages.children %}{% if p.visible %}
  <li><a href="{{ p.rawRoute() }}" class="no-u"><span>{{ p.menu }}</span></a></li>
{% endif %}{% endfor %} #}
