<div class="sqncbrk-search sqncbrk-outer">
  <button id="btn-search-close" class="btn btn--search-close" aria-label="Close search form"><svg role="img" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24" aria-labelledby="closeIconTitle closeIconDesc" stroke="rgb(255,252,250)" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="rgb(255,252,250)"> <title id="closeIconTitle">Close</title> <desc id="closeIconDesc">Icon of a cross (x)</desc> <path d="M6.34314575 6.34314575L17.6568542 17.6568542M6.34314575 17.6568542L17.6568542 6.34314575"/> </svg></button>
  <form class="form" action="{{ base_url_relative }}/search" method="get">
    <input class="input" name="search" type="search" placeholder="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="query" />
    <span class="info">Hit enter to search or escape to close</span>
  </form>
</div>
