<form class="morphsearch-form" action="{{ base_url_relative }}/search" method="get">
    <input class="morphsearch-input" type="search" placeholder="Поиск..." id="morphsearch-input" autocomplete="off" name="query" />
    <button class="morphsearch-submit" type="submit">Search</button>
 </form>
