<form class="morphsearch-form" action="{{ base_url_relative }}/search" method="get">
    <input class="morphsearch-input" type="search" placeholder="{{ "SEARCH"|t }}" id="morphsearch-input" autocomplete="off" name="query" />
 </form>
