<div class="sqncbrk-search sqncbrk-grid" id="sqncbrk-search">
  <button id="btn-search-close" class="close" aria-label="Close search form"><svg role="img" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24" aria-labelledby="closeIconTitle closeIconDesc" stroke="rgb(255,252,250)" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="rgb(255,252,250)"> <title id="closeIconTitle">Close</title> <desc id="closeIconDesc">Icon of a cross (x)</desc> <path d="M6.34314575 6.34314575L17.6568542 17.6568542M6.34314575 17.6568542L17.6568542 6.34314575"/> </svg></button>
  <form class="sqncbrk-form" action="{{ base_url_relative }}/search" method="get">
    <input class="input" type="search" placeholder="" autocomplete="off" autocapitalize="off" spellcheck="false" name="query" />
    <label class="info desktop">Hit enter to search or escape to close</label>
  </form>
  {% for p in pages.children %}{% if p.visible %}
    {% include 'partials/simplesearch_item.html.twig' %}
  {% endif %}{% endfor %}
</div>
