.sqncbrk-card .link
  display: grid
  grid-template-columns: 80px 1fr
  grid-gap: 0 $spacing
  max-height: $spacing * 9.5
  padding: $spacing
  margin: -$spacing

  color: $white
  background: $black
  transition: background-color .6s $fade

  +for-size(tablet-landscape-up)
    grid-gap: 0 $spacing
    grid-template-columns: 96px 1fr
    max-height: $spacing * 11

  +for-size(desktop-up)
    grid-template-columns: 136px 1fr
    max-height: $spacing * 15

  &:hover,&:active
    background: rgba($yellow, .05)

  > .cover
    grid-area: 1 / 1 / 4 / 1

  > .date, > .description
    justify-self: start

    font-size: 0.9rem
    line-height: 1rem

    +for-size(big-desktop-up)
      font-size: 1rem
      line-height: 1rem

  > .date
    display: none

    +for-size(desktop-up)
      display: block

  > .description
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
    align-self: start
    display: -webkit-box
    overflow: hidden

    +for-size(tablet-landscape-up)
      -webkit-line-clamp: 3
      max-width: 95%