.sqncbrk-card .link
  display: grid
  grid-template-columns: 88px 1fr
  grid-gap: 0 $spacing
  min-height: $spacing * 8

  color: $white
  background: $black
  transition: background-color .6s $fade

  +for-size(tablet-landscape-up)
    grid-gap: 0 $spacing
    grid-template-columns: 140px 1fr

  +for-size(desktop-up)
    padding: $spacing

  &:hover,&:active
    background: rgba($yellow, .05)

  > .cover
    grid-area: 1 / 1 / 4 / 1

  > .date, > .description
    justify-self: start

    font-size: 0.9rem
    line-height: 1rem

    +for-size(big-desktop-up)
      font-size: 1rem
      line-height: 1rem

  > .description
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
    align-self: start
    display: -webkit-box
    overflow: hidden

    +for-size(tablet-portrait-up)
      -webkit-line-clamp: 3