.feed
  padding-top: $spacing * 14

  > .sqncbrk-post
    position: relative
    height: 70vh
    background: $black
    margin-bottom: $spacing / 2

    > a
      color: $white

      > .cover
        position: absolute
        height: 100%
        width: 100%
        opacity: .9
        transition: opacity 0.35s ease

      > .cover.b-lazy
        background-image: svg-url('<svg width="38" height="38" xmlns="http://www.w3.org/2000/svg" stroke="#fff"><g transform="translate(1 1)" stroke-width="2" fill="none" fill-rule="evenodd"><circle stroke-opacity=".5" cx="18" cy="18" r="18"/><path d="M36 18c0-9.94-8.06-18-18-18"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/></path></g></svg>')
        background-position: 50% 20%
        background-size: 38px 38px

      > .cover.b-loaded
        background-size: cover
        background-position: center center

      > .meta
        position: absolute
        bottom: 0
        width: 100%
        height: 25%
        min-height: 120px
        background: linear-gradient(to top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.2) 34%, rgba(0,0,0,0.1) 47%, rgba(0,0,0,0.05) 67%, transparent 96.5%)

        > time
          grid-area: 1 / 2
          transition: transform 0.3s $easing
          height: $spacing * 4

        > h2
          grid-area: 2 / 2 / 2 / 4
          transition: transform 0.3s $easing
    > a:hover
      > .cover
        opacity: 1

      > .meta > time, >.meta > h2
        transform: translate3d(0, -$spacing * 2, 0)
