.sqncbrk-footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 100vh

  grid-template-areas: "pages pages" "external external" "author author"

  padding-top: 20vh

  font-size: 1.2rem

  z-index: -1

  +for-size(tablet-landscape-up)
    grid-template-areas: ". pages pages pages external external external ." ". author author author . . . ."

    padding-top: 30vh

  +for-size(desktop-up)
    grid-template-areas: ". pages pages pages external external external ." " . author author author . . . . ."

  > .pages
    display: grid
    grid-area: pages

    align-content: start
    grid-gap: $spacing * 2 0
    justify-content: start

    list-style-type: none

    +for-size(tablet-landscape-up)
      grid-template-columns: auto auto

  .sqncbrk-footer-link
    padding: $spacing * 2

  .sqncbrk-footer-link
    > .underline
      display: inline-block

      color: rgba($white,0.7)
      background-image: linear-gradient(180deg,rgba($yellow, 0.5) 0,rgba($yellow, 0.5))
      background-repeat: repeat-x
      background-position: 0 90%
      background-size: 1px 1px

      transition: color 0.3s $fade

      line-height: $baselineheight * 1.5

      transition: color 0.3s $fade, background-image 0.3s $fade

    &:hover
      > .underline
        color: $white
        background-image: linear-gradient(180deg,rgba($yellow, 0.8) 0,rgba($yellow, 0.8))

  > .external
    display: grid
    grid-area: external

    align-content: start
    grid-gap: $spacing * 2 0
    justify-content: start

    list-style-type: none

    +for-size(tablet-landscape-up)
      grid-template-columns: auto auto
      justify-content: end

  > .author
    grid-template-rows: auto auto
    grid-area: author

    > .sqncbrk-footer-link
      display: grid
      grid-template-columns: auto
      justify-items: start
      max-width: 200px

    > .sqncbrk-footer-link> .time
      color: rgba($white,0.7)

  .sqncbrk-searchresults &
    background: $white

    .sqncbrk-footer-link
      > .underline
        display: inline-block

        border: 0
        color: $blue
        background-image: linear-gradient(180deg,rgba($blue, 0.5) 0,rgba($blue, 0.5))

      > .time
        color: rgba($black,0.7)

      &:hover
        > .underline
          color: $red
          background-image: linear-gradient(180deg,rgba($red,0.5) 0,rgba($red,0.5))
