.sqncbrk-grid
  display: grid
  grid-template-columns: [first content-start] 1fr [content-center] 1fr [content-end last]
  width: 100%

  +for-size(tablet-landscape-up)
    grid-template-columns: [first] $gutter-tablet [content-start] 1fr 1fr 1fr [content-center] 1fr 1fr [content-end gutter-start] 1fr [gutter-end] $gutter-tablet [last]

  +for-size(desktop-up)
    grid-gap: 0 $spacing * 2
    grid-template-columns: [first] $gutter-desktop [content-start] 1fr 1fr [content-center] 1fr [content-end gutter-start] 1fr [gutter-end] $gutter-desktop [last]
