.sqncbrk-header
  mix-blend-mode: exclusion
  position: fixed

  > .logo
    display: inline-block
    position: fixed
    color: #fff
    &:hover
      animation: glitch 0.8s infinite

$colors: $red $blue $yellow $green

=glitch
   $color: nth($colors, random(length($colors)))
   $shadow-distance: ($spacing / 4)
   text-shadow: random($shadow-distance * 2) - $shadow-distance random($shadow-distance * 2) - $shadow-distance 0 $color
   left: $spacing * 4 + random($shadow-distance * 2) - $shadow-distance

@keyframes glitch
  @for $i from 0 through 100
    $percent: 0% + $i
    #{$percent}
      +glitch
