.sqncbrk-header
  mix-blend-mode: exclusion
  position: fixed
  z-index: 1
  height: $spacing * 7.5

  +for-size(desktop-up)
    height: $spacing * 14

  > *
    +for-size(desktop-up)
      padding: $spacing * 4

  > .logo
    display: inline-block
    color: $white
    justify-self: start

    +for-size(tablet-landscape-up)
      justify-self: center

    &:hover
      animation: glitch 0.8s infinite

  > .button
      justify-self: end
      grid-area: 1 / 2
      height: 100%
      background: transparent
      border: 0
      cursor: pointer
      opacity: 1
      transition: opacity 0.3s

      +for-size(tablet-portrait-up)
        grid-area: 1 / 4

      +for-size(tablet-landscape-up)
        padding: $spacing

      &.closed
        opacity: 0
        pointer-events: none
        display: none

$colors: $red $blue $yellow $green

=glitch
   $color: nth($colors, random(length($colors)))
   $shadow-distance: 3px
   text-shadow: random($shadow-distance * 2) - $shadow-distance random($shadow-distance * 2) - $shadow-distance 0 $color
   left: $spacing * 4 + random($shadow-distance * 2) - $shadow-distance

@keyframes glitch
  @for $i from 0 through 100
    $percent: 0% + $i
    #{$percent}
      +glitch
