.sqncbrk-header
  position: fixed
  z-index: 1
  height: $spacing * 7.5

  mix-blend-mode: exclusion

  +for-size(desktop-up)
    height: $spacing * 15

  > *
    +for-size(desktop-up)
      padding: $spacing * 4

  > .logo
    display: inline-block
    justify-self: start

    color: $white

    +for-size(tablet-landscape-up)
      justify-self: center

    &:hover
      animation: glitch 0.8s infinite

  > .button
      grid-area: 1 / 2
      justify-self: end
      height: $spacing * 6
      position: relative

      background: transparent
      border: 0
      opacity: 1

      cursor: pointer

      +for-size(tablet-portrait-up)
        grid-area: 1 / 4

      +for-size(tablet-landscape-up)
        padding: $spacing

      +for-size(desktop-up)
        height: 100%

        padding: $spacing * 4

        >svg
          transform: rotate(15deg) scale(0.95)
          transform-origin: 41.5% 41.5%
          transition: opacity 0.3s $fade, transform 0.3s $jump

      &:hover
        +for-size(desktop-up)
          >svg
            transform: rotate(0) scale(1)

      &.closed
        display: none

        opacity: 0

        pointer-events: none

$colors: $red $blue $yellow $green

=glitch
   $color: nth($colors, random(length($colors)))
   $shadow-distance: 2px
   text-shadow: random($shadow-distance * 3) - $shadow-distance random($shadow-distance * 3) - $shadow-distance 0 $color
   transform: translateX(random($shadow-distance * 2) - $shadow-distance)

@keyframes pulse
  0%
    opacity: 0.3

  40%
    opacity: 0.5
    box-shadow: 0 0 0 2px rgba($blue,0.5), 0 0 5px 5px $green, 0 0 0 5px rgba($white,0.5)

  100%
    box-shadow: 0 0 0 2px rgba($green,0.1), 0 0 5px 5px $red, 0 0 0 5px rgba($yellow,0.5)
    transform: scale(1.2)
    opacity: 0

@keyframes glitch
  @for $i from 0 through 100
    $percent: 0% + $i
    #{$percent}
      +glitch
