.highlight
  background-color: $black
  color: $white

  >.image
    display: block

    margin: 0 auto

  > aside
    color: rgba($white,0.9)

  a
    &:link
      color: $yellow
      border-color: rgba($yellow,0.3)

    &:hover
      color: $white

.highlight.white
  background-color: $white
  color: $black

  > aside
    color: rgba($black,0.9)

  a
    &:link
      color: $blue
      border-color: rgba($blue,0.3)

    &:hover
      color: $red
