.highlight
  background-color: $black
  color: $white

  .image
    display: block
    margin: 0 auto

  > aside
    color: rgba($white,0.9)

  a
    &:link
      border-color: rgba($yellow,0.3)
      color: $yellow

    &:hover
      color: $white

  &.sqncbrk-grid
    padding: $baselineheight 0

.highlight.white
  background-color: $white
  color: $black

  > aside
    color: rgba($black,0.9)

  a
    &:link
      border-color: rgba($blue,0.3)
      color: $blue

    &:hover
      border-color: rgba($red,0.3)
      color: $red
