.sqncbrk-loadmore
  height: 50vh

  grid-template-areas: "button button"

  +for-size(tablet-landscape-up)
    grid-template-areas: ". button button ."

  +for-size(desktop-up)
    grid-template-areas: ". button button button button ."

  > .button
    display: block
    height: $spacing * 6
    width: $spacing * 20
    position: relative
    top: 50%
    margin: -$spacing * 3 auto 0 auto

    grid-area: button

    border-radius: $spacing / 2
    color: $white
    background: $black
    overflow: hidden

    font-size: 1rem
    text-align: center

    opacity: 1
    transition: color 0.3s $fade, background-color 0.3s $fade, opacity 0.2s $fade, transform 0.2s $jump

    cursor: pointer

    &:after
      position: absolute
      bottom: 0
      left: 0
      right: 0
      top: 0
      height: 2px

      box-shadow: 0 2px 4px 1px rgba($red,0.45), 0 0 4px 1px rgba($yellow,0.55), 0 -2px 4px 1px rgba($blue,0.25)
      background: $white
      content: ''

      transform: rotate(0)
      opacity: 0

    &:hover
      animation: button-glitch 750ms infinite

      &:after
        animation: scan 5s infinite
        opacity: 0.3

  &:after
    display: none
    height: $spacing * 6
    width: $spacing * 6
    position: relative
    top: 50%
    grid-area: 1 / 2 / 1 / 4
    margin: -$spacing * 3 auto 0 auto

    border: 2px solid rgba($black,0.2)
    border-top-color: $black
    border-radius: $spacing * 3
    transition: opacity 0.4s $fade
    opacity: 0

    content: ''

  &.progress > .button
    transform: scaleX(0.25)
    opacity: 0

    pointer-events: none

  &.progress
    &:after
      display: block

      opacity: 1
      animation: loader 1s $jump infinite

@keyframes button-glitch
  0%
    transform: skewX(0deg)
  5%
    transform: skewX(2deg)
    opacity: 0.75
  10%
    transform: skewX(0deg)
    opacity: 1
  15%
    transform: skewX(-5deg)
    opacity: 0.75
  20%
    transform: skewX(0deg)
    opacity: 1
  45%
    transform: skewX(3deg)
    opacity: 0.75
  50%
    transform: skewX(0deg)
    opacity: 1
  55%
    transform: skewX(0deg)
    opacity: 0.75
  60%
    transform: skewX(0deg)
    opacity: 1
  75%
    transform: skewX(2deg)
  80%
    transform: skewX(0deg)
  85%
    transform: skewX(-8deg)
    opacity: 0.75
  90%
    transform: skewX(0deg)
    opacity: 1
  100%
    transform: skewX(0deg)

@keyframes scan
  0%
    top: 0%
    transform: rotate(3deg)
  50%
    top: 97%
    transform: rotate(-2deg)
  100%
    top: 0%
    transform: rotate(1deg)

@keyframes loader
  0%
    transform: rotate(0)

  100%
    transform: rotate(360deg)
