.sqncbrk-page
  background: $white
  color: $black
  box-shadow: 0 $spacing $spacing * 2 $spacing / 2 $black

.sqncbrk-content
  padding-top: $baselineheight * 2

.sqncbrk-content > .highlight
  grid-column: first / last
  margin: $baselineheight 0

.sqncbrk-content,.highlight

  > p, > iframe, > aside
    grid-column: span 2
    margin: $baselineheight / 4 0 $baselineheight / 4 * 3 0
    padding: 0 $spacing * 2

  > aside
    font-family: MuseoSansItalic

  +for-size (tablet-landscape-up)
    > p, > iframe
      grid-column: content-start / content-end

    > aside
      grid-column: gutter-start / gutter-end
      padding: $baselineheight / 4 + 1px 0 0 0

      border-top: 1px solid rgba($black,0.5)
      color: rgba($black,0.9)

      font-size: 0.9rem
      line-height: $baselineheight / 2
