.sqncbrk-page
  background: $white
  color: $black
  box-shadow: 0 $spacing $spacing * 2 $spacing / 2 $black

.sqncbrk-content
  padding-top: $baselineheight * 2

.sqncbrk-content > .highlight
  grid-column: first / last
  margin: $baselineheight 0

.sqncbrk-content,.highlight

  > p, > iframe, > aside, > h3
    grid-column: span 2
    padding: 0 $spacing * 2

  > p, > iframe, > aside
    margin: $baselineheight / 4 0 $baselineheight / 4 * 3 0

  > iframe
    max-width: 100%

  > h3
    margin: $baselineheight * 2 0 $baselineheight / 4 * 3 0

  > aside
    font-family: MuseoSansItalic

  +for-size (tablet-landscape-up)
    > p, > iframe, > h3
      grid-column: content-start / content-end

    > aside
      grid-column: gutter-start / gutter-end
      padding: $baselineheight / 4 + 1px 0 0 0

      border-top: 1px solid rgba($black,0.5)
      color: rgba($black,0.9)

      font-size: 0.9rem
      line-height: $baselineheight / 2

.sqncbrk-content a

  &:link
    color: $blue
    border-bottom: 1px solid rgba($blue,0.3)
    transition: color 0.1s $fade, border-color 0.1s $fade

  &:visited
    color: $purple
    border-color: rgba($purple,0.3)

  &:hover,&:active
    color: $red
    border-color: rgba($red,0.3)


.sqncbrk-content abbr[title]
    text-transform: uppercase
    font-size: .9rem
    letter-spacing: $basefontsize * .15
    font-family: MuseoSansBold
    cursor: help
    border-bottom: 0
    margin-right: -$spacing / 2
    text-decoration: none
    background-color: rgba($yellow, .1)
    padding: $spacing / 2 $spacing / 2 $spacing / 2 $spacing / 2 * 1.5
