.sqncbrk-form
  display: grid
  grid-template-columns: auto
  grid-template-rows: auto auto
  align-content: start

  grid-area: 2 / 1 / 2 / 3

  +for-size(tablet-portrait-up)
    grid-area: 2 / 1 / 2 / 5

  +for-size(tablet-landscape-up)
    grid-area: 2 / 2 / 2 / 4

  >.input
    width: 100%
    height: 4rem
    padding: 0.05em 0

    color: $yellow
    background: transparent
    border-bottom: 5px solid
    -webkit-appearance: none

    font-size: 3rem

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration
      -webkit-appearance: none

    &::-ms-clear
      display: none

    +for-size(tablet-landscape-up)
      height: 8rem

      font-size: 5rem

  >.desktop
    display: none

    +for-size(desktop-up)
      display: block
      height: $spacing * 4
      place-self: start end

      font-size: 1rem
      line-height: 2rem

.sqncbrk-search
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  width: 100%
  height: 100vh

  pointer-events: none

  &:before
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    content: ''

    background: $black
    opacity: 0
    transition: opacity 0.5s $fade


  .info
    z-index: 1000

    align-self: start

    color: $white
    opacity: 0
    transform: translate3d(0, $spacing * 2, 0)
    transition: opacity 0.4s $fade, transform 0.4s $fade

  >.close
    justify-self: end
    grid-area: 1 / 2
    height: $spacing * 6

    mix-blend-mode: exclusion
    background: transparent
    border: 0
    opacity: 0
    transition: opacity 0.3s

    cursor: pointer

    +for-size(tablet-portrait-up)
      grid-area: 1 / 4

    +for-size(tablet-landscape-up)
      padding: $spacing

    +for-size(desktop-up)
      height: $spacing * 13
      padding: $spacing * 4

      transition: transform 0.4s $jump

    &:hover
      +for-size(desktop-up)
        transform: rotate(90deg)

  >.sqncbrk-card
    align-self: start

    &:nth-child(odd)
      grid-area: 3 / 1 / 3 / 3

      +for-size(tablet-portrait-up)
        grid-area: 3 / 1 / 3 / 3

      +for-size(tablet-landscape-up)
        grid-area: 3 / 2 / 3 / 4

      +for-size(desktop-up)
        grid-area: 3 / 2

    &:nth-child(even)
      grid-area: 4 / 1 / 4 / 3

      +for-size(tablet-portrait-up)
        grid-area: 3 / 3 / 3 / 5

      +for-size(tablet-landscape-up)
        grid-area: 4 / 2 / 4 / 4

      +for-size(desktop-up)
        grid-area: 3 / 3

  >.sqncbrk-form>.input
    transform: scale3d(0,1,1)
    transform-origin: 0% 50%
    transition: transform 0.3s $fade

.search--open
  z-index: 2

  pointer-events: auto

  &:before
    opacity: 1

  >.sqncbrk-form
    >.input
      transform: scale3d(1,1,1)

  .info
    opacity: 1
    transform: translate3d(0, 0, 0)

  >.close
      opacity: 1

@keyframes spin
  0%
    transform: rotate(120deg)

  30%
    transform: rotate(359deg)

  60%
    transform: rotate(180deg)

  100%
    transform: rotate(0)

.sqncbrk-searchresults
  >.form
    padding-top: $spacing * 7.5

    background: $black

    +for-size(desktop-up)
      padding-top: $spacing * 15

.sqncbrk-searchfeed
  background: inherit

  grid-row-gap: $spacing * 2
  padding-bottom: $spacing * 10
  box-shadow: 0 $spacing * 3 $spacing * 2 $spacing / 2 $white

  >.sqncbrk-card
    grid-column: 1 / 3

    +for-size(tablet-landscape-up)
      grid-column: 2 / 4

    +for-size(desktop-up)

      &:nth-child(odd)
        grid-column: 2

      &:nth-child(even)
        grid-column: 3
