.sqncbrk-search
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100%
  grid-template-areas: ". close" "form form" "first first" "second second"
  padding: $spacing $spacing * 2

  pointer-events: none

  +for-size(tablet-portrait-up)
    grid-template-areas: ". close" "form form" "first second"

  +for-size(tablet-landscape-up)
    grid-template-areas: ". . . . . . . close" ". form form form form form form ." ". first first first first first first ." ". second second second second second second ."

  +for-size(desktop-up)
    grid-template-areas: ". . . . . close" ". form form form form ." ". first first second second ."

  &:before
    position: absolute
    top: 0
    right: 0
    height: 100%
    width: 100%

    background: $black
    content: ''
    opacity: 0
    transition: opacity 0.5s $fade


  .info
    align-self: start

    color: $white
    opacity: 0
    transform: translate3d(0, $spacing * 2, 0)
    transition: opacity 0.4s $fade, transform 0.4s $fade

  > .close
    justify-self: end
    grid-area: close
    height: $spacing * 6

    background: transparent
    border: 0
    cursor: pointer
    mix-blend-mode: exclusion
    opacity: 0
    transition: opacity 0.3s


    +for-size(tablet-landscape-up)
      padding: $spacing

    +for-size(desktop-up)
      height: $spacing * 13
      padding: $spacing * 4

      transition: transform 0.4s $jump

    &:hover
      +for-size(desktop-up)
        transform: rotate(90deg)

  > .sqncbrk-card
    align-self: start

    &:nth-child(odd)
      grid-area: first

    &:nth-child(even)
      grid-area: second

  > .sqncbrk-form> .input
    transform: scale3d(0,1,1)
    transform-origin: 0% 50%
    transition: transform 0.3s $fade


.sqncbrk-form
  display: grid
  grid-template-columns: auto
  grid-template-rows: auto auto
  align-content: start
  grid-area: form


  > .input
    height: 4rem
    width: 100%
    padding: 0.05em 0

    background: transparent
    border-bottom: 5px solid
    color: $yellow
    -webkit-appearance: none

    font-size: 3rem

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration
      -webkit-appearance: none

    &::-ms-clear
      display: none

    &::selection
      color: $black

    +for-size(tablet-landscape-up)
      height: 8rem

      font-size: 5rem

  > .desktop
    display: none

    +for-size(desktop-up)
      display: block
      height: $spacing * 4
      place-self: start end

      font-size: 1rem
      line-height: 2rem


.search--open
  z-index: 2

  pointer-events: auto

  &:before
    opacity: 1

  > .sqncbrk-form
    > .input
      transform: scale3d(1,1,1)

  .info
    opacity: 1
    transform: translate3d(0, 0, 0)

  > .close
      opacity: 1

@keyframes spin
  0%
    transform: rotate(120deg)

  30%
    transform: rotate(359deg)

  60%
    transform: rotate(180deg)

  100%
    transform: rotate(0)

.sqncbrk-searchresults
  > .form-wrapper
    padding: $spacing * 7.5 $spacing * 2 $spacing $spacing * 2
    grid-template-areas: "form form"

    background: $black

    +for-size(tablet-landscape-up)
      grid-template-areas: ". form form form form form form ."

    +for-size(desktop-up)
      grid-template-areas: ". form form form form ."
      padding-top: $spacing * 15

.sqncbrk-searchfeed
  padding: $spacing $spacing * 2 $spacing * 10 $spacing * 2
  grid-row-gap: $spacing * 2

  box-shadow: 0 $spacing * 3 $spacing * 2 $spacing / 2 $white
  background: inherit

  > .sqncbrk-card
    grid-column: span 2

    +for-size(tablet-portrait-up)
      grid-column: span 1

    +for-size(tablet-landscape-up)
      grid-column: content-start / gutter-end

    +for-size(desktop-up)

      &:nth-child(odd)
        grid-column: content-start / content-center

      &:nth-child(even)
        grid-column: content-center / gutter-end
