{% extends 'partials/base.html.twig' %}

{% block content %}
<main class="sqncbrk-page">
  <section class="sqncbrk-cover">
    {% include 'partials/post-cover.html.twig' %}
  </section>
  <section class="sqncbrk-grid sqncbrk-content">
    {{ page.content }}
  </section>
</main>
{% endblock %}
