{% extends 'partials/base.html.twig' %}

{% block content %}
    <main class="sqncbrk-page sqncbrk-error">
      <h2>{{ page.title }}</h2>
    </main>
{% endblock %}

{% block body %}
<body class="{{ browser.getbrowser }} error404">
{% endblock %}
