{% extends 'partials/base.html.twig' %}

{% block content %}
    <div id="primary">
        <h2>{{ page.title }}</h2>
    </div>
{% endblock %}

{% block body %}
<body class="{{ browser.getbrowser }} error404">
{% endblock %}

{% block footer %}
{% endblock %}
