{% extends 'partials/base.html.twig' %}

{% set collection = page.collection %}
{% set pagination = collection.params.pagination %}

{% block content %}
  <main class="feed" id="feed">
    {% for page in collection %}
        {% include 'partials/post-item.html.twig' %}
    {% endfor %}

    {% include 'partials/load-more.html.twig' %}
  </main>
{% endblock %}
